@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:ital,wght@1,300;1,400&family=Neonderthaw&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1500534314209-a25ddb2bd429?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW91bnRhaW5zfGVufDB8fDB8fHww");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}
/* Styling the top container */
.container {
  padding: 20px 70px;
  color: white;

  margin-top: 10px;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-container {
  font-weight: 100;
}

.date-container .time {
  font-size: 100px;
}

.date-container #am-pm {
  font-size: 30px;
  margin-left: 20px;
}

.date-container .date {
  font-size: 30px;
}

.place-container {
  text-align: end;
}

.place-container .time-zone {
  font-size: 30px;
  font-weight: 200px;
}

.place-cont .country {
  font-size: 12px;
  font-weight: 700px;
}
/* styling the other current weather info */
.current-info .others {
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 27, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid whitesmoke;
}

.current-info .others .weather-item {
  display: flex;
  justify-content: space-between;
}

.feature-forecast {
  background: rgb(24, 24, 27, 0.8);
  padding: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.feature-forecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-forecast .today .day {
  padding: 5px 15px;
  background: #3c3c44;
  border-radius: 50px;
  text-align: center;
}

.feature-forecast .today .day {
  font-size: 18px;
  padding-top: 50px;
}

.feature-forecast .weather-forecast {
  display: flex;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 15px;
}

.weather-forecast .weather-forecast-item .day {
  padding: 5px 15px;
  background: #3c3c44;
  border-radius: 50px;
  text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
  font-weight: 100px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.weather-info {
  margin-top: 20px;
}
